.root {
  --title-color: var(--palette-pink);
  --gap: 1rem;
  --col-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-bottom: 2rem;
}

.category {
  background: var(--theme-card-bg-color);
  padding: 1.3rem 1.3rem 1.8rem;
  border: 1px solid var(--theme-card-border-color);
  border-radius: 15px;
  flex: 1 0 calc(50% - var(--gap));
}

@media screen and (min-width: 900px) {
  .category {
    flex-basis: 100%;
  }
}

.category:hover,
.active {
  text-decoration: none;
  background: var(--theme-card-bg-color-hover);
}

.title {
  color: var(--title-color);
  margin-bottom: 1rem;
}

.description {
  margin: 0;
  color: var(--theme-card-text-color);
}
