.root {
  max-width: var(--ifm-container-width);
  margin: 2rem auto;
  padding: 0 1rem;
}

.latestPost {
  margin-bottom: 2rem;
}

.categories {
  display: grid;
  gap: 1rem;
  margin-bottom: 4rem;
}

.root h1,
.pinnedPosts h1 {
  font-size: var(--ifm-h2-font-size);
}

.posts {
  --cols: 1;
  --gap: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--gap);
  margin-bottom: 5rem;
}

@media screen and (min-width: 550px) {
  .posts {
    --cols: 2;
    --gap: 3rem 1rem;
  }
}

@media screen and (min-width: 900px) {
  .root {
    margin-top: 5rem;
  }

  .latestPost {
    margin-bottom: 2rem;
  }

  .posts {
    --cols: 3;
    --gap: 4rem 2rem;
  }
}

.tagsTitle {
  font-size: var(--ifm-h2-font-size);
}

.tags {
  margin-bottom: 2rem;
}

.subscribeCard {
  padding: 2rem !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.subscribe {
  flex: 1;
}

.subscribeInputs {
  width: 100%;
  grid-template-columns: 1fr !important;
}
