.root {
  max-width: var(--ifm-container-width);
  margin: 2rem auto;
  padding: 0 1rem;
}

.latestPost {
  margin-bottom: 8rem;
}

.title {
  margin-bottom: 4rem;
}

.tag {
  color: var(--palette-pink);
}

.posts {
  --cols: 1;
  --gap: 4rem;
  grid-area: posts;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--gap);
  margin-bottom: 5rem;
}

@media screen and (min-width: 550px) {
  .posts {
    --cols: 2;
    --gap: 3rem 1rem;
  }
}

@media screen and (min-width: 900px) {
  .root {
    margin-top: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr minmax(100px, 1fr);
  }

  .posts {
    --cols: 2;
    --gap: 4rem 2rem;
  }
}

.tags {
  margin-bottom: 2rem;
}

.subscribeCard {
  padding: 2rem !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.subscribe {
  flex: 1;
}

.subscribeInputs {
  width: 100%;
  grid-template-columns: 1fr !important;
}
