:root {
  --collapse-button-bg-color-dark: #2e333a;
}

.sidebar {
  border-right: 1px solid var(--ifm-toc-border-color);
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  background: var(--ifm-background-color);
  overscroll-behavior: contain;
  padding: 1rem;
  z-index: var(--ifm-z-index-overlay);
}

.menu.show {
  display: inherit;
}

@media screen and (min-width: 997px) {
  .menu {
    display: inherit;
    position: relative;
  }
}

.menuList {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menuList .menuList {
  overflow-y: hidden;
  will-change: height;
  transition: height 0.15s ease-in-out;
  padding-left: 1rem;
}

.menuItem {
  margin: 0.2rem 0;
}

.collapsed .menuList {
  height: 0;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.2rem 0.75rem 0.2rem 0.5rem;
  margin-left: 1rem;
  border-radius: 0.25rem;
  color: var(--ifm-menu-color);
}

.link:hover {
  text-decoration: none;
  color: var(--ifm-menu-color);
  background: var(--ifm-menu-color-background-active);
}

.linkActive,
.linkActive:hover {
  color: var(--ifm-menu-color-active);
}

.linkActive:not(.sublist) {
  background: var(--ifm-menu-color-background-active);
}

.sublist::after {
  position: absolute;
  display: inline-block;
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  left: -1.3rem;
  top: 0.27rem;
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  transform: rotate(180deg);
  transition: height 0.15s ease-in-out;
}

.collapsed .sublist::after {
  transform: rotate(90deg);
}

@media (min-width: 997px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    padding-top: var(--ifm-navbar-height);
    width: var(--doc-sidebar-width);
  }

  .menu {
    flex-grow: 1;
    padding: 0.5rem;
  }

  .linkText {
    cursor: initial;
  }

  .linkText:hover {
    background: none;
  }
}

html[data-theme="light"] .link {
  color: var(--palette-charade);
}

html[data-theme="light"] .linkActive {
  color: var(--ifm-menu-color-active);
}

.linkExternal {
  align-items: center;
}

.linkExternal:after {
  content: "";
  height: 1.15rem;
  width: 1.15rem;
  min-width: 1.15rem;
  margin: 0 0 0 3%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,0.5)' d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'/%3E%3C/svg%3E")
    no-repeat;
  filter: var(--ifm-menu-link-sublist-icon-filter);
}

.tag {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--palette-pale-blue);
  background: #2c2d37;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

.link:hover .tag {
  background: #373945;
}

.link.linkActive .tag {
  background: #23242c;
}

:global(html[data-theme="light"]) .link .tag {
  background: #edeeee;
}

:global(html[data-theme="light"]) .link:hover .tag,
:global(html[data-theme="light"]) .linkActive .tag {
  background: #fff;
}
