.root {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.5rem;
  margin-bottom: 5rem;
  align-items: center;
}

.chip {
  padding: 0.4rem 0.8rem;
}

.linkToTags,
.linkToTags:hover {
  padding: 0 0 0 0.5rem;
  color: var(--palette-pink);
}
