.root {
  --color-subtext: rgba(217, 217, 217, 0.51);
}

.title {
  font-size: 1.3rem;
}

.plans {
  --cols: 1;
  --gap: 4rem;
  --col-width: 380px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--cols), minmax(0, var(--col-width)));
  align-items: flex-end;
}

@media screen and (min-width: 900px) {
  .plans {
    --cols: 3;
    --gap: 1rem;
    --col-width: 1fr;
  }
}

@media screen and (min-width: 1220px) {
  .plans {
    --cols: 3;
    --gap: 2rem;
  }
}

.plan {
  display: grid;
  gap: 1rem;
}

.subtext {
  text-align: center;
  color: var(--color-subtext);
}

:global(html[data-theme="light"]) .root {
  --color-subtext: #8d8d8d;
}
